/* Universal element */
* {
    font-family: 'Montserrat', sans-serif;
    height: auto;
    font-weight: bolder;
}

header {
    padding: 5px;
    font-weight: 500;
    flex: auto;
    display: grid;
    justify-content: center;
    align-items: left;
}

h1 {
    
}

#frontpage {
    display: grid;
    align-items: center;
}

#scores {
    display: grid;
    align-self: left;
}

body {
    background-color: #bbdeff;
    grid-template-columns: auto;
    flex: auto;

}

#welcome-page { 
    flex: auto;
    align-items: center;
}