/* Universal element */
* {
    background-color: #bbdeff; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
 }
 
 p {
     font-family: 'Montserrat', Helvetica, sans-serif;
     font-style: oblique;
 }
 
 :root {
     --buttonBlue: #211aca;
     
 }
 
 a:hover {
     background-color: #b1f2ff;
 }
 
 #container {
     position: absolute;
     left: 30%;
     top: 20%;
     width: 500px;
     height: 500px;
     border: 8px solid rgb(103, 67, 128);
     border-style: groove;
 }
 #startTime {
     background-color: var(--buttonBlue);
     margin-left: 33%;
     padding: 15px 32px;
     font-size: 20px;
     color: white;
 }
 
 #startTime:hover {
     background-color: #7747f3;
 }
 
 #questionsDiv {
     margin: 20px;
     cursor: grab;
     align-items: center;
 }
 
 #currentTime {
     float: right;
 }
 
 #returnHome {
     background-color: var(--buttonBlue);
     position: relative;
     padding: 10px;
     font-size: 20px;
     color: white;
     top: 30%;
     left: 53%;
     width: auto;
     text-align: center;
     text-decoration: none;
 }
 
 #initials {
     background-color: cornsilk;
 }
 
 
 #clear {
     background-color: var(--buttonBlue);
     position: relative;
     padding: 10px;
     font-size: 20px;
     color: white;
     top: 30%;
     right: 22%;
     text-align: left;
     align-self: flex-start;
 }
 
 button {
     border-radius: 8px;
 }
 
 
 textarea {
     width: 90%;
     margin: 20px;
 }
 
 #Submit {
     background-color: var(--buttonBlue);
     margin-left: 33%;
     padding: 15px 32px;
     font-size: 20px;
     color: white;
 }
 
 #Submit:hover {
     background-color: #7747f3;
 }
 
 label {
     margin-right: 10px;
 }
 input {
     margin-bottom: 20px;
     width: 50%;
     border: 1px solid lightgray;
 }
 
 h1 {
     text-align: center;
     text-shadow: 1px 2px #007296;
    font-weight: bolder;
    font-size: 35px;
    text-decoration: underline;
 }
 
 li {
     background-color: var(--buttonBlue);
     margin-top: 10px;
     padding: 5px 15px;
     width: 80%;
     font-size: 18px;
     color: white;
 }
 
 li :hover {
     background-color: darkcyan;
 }
 
 #createDiv {
     margin-top: 20px;
     border-top: 1px solid lightgray;
 }
 
 
 
